@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Goldman, sans-serif;
    font-size: xx-large;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(238, 15, 15);
    border-bottom: 6px solid gold;
}

.pokémon-logo {
    width: 600px;
}

.main-box {
    background-image: url(./Assets/wallpaper2.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.pokémon-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.92);;
    width: 700px;
    height: 1300px;
    border-left: 6px solid gold;
    border-right: 6px solid gold;
    padding-top: 60px;
    padding-bottom: 40px;
}

.pokémon-name {
    text-decoration: none;
    font-size: 35px;
    color: black;
    cursor: pointer;
}

.pokémon-name:hover {
    color: rgb(238, 15, 15);
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border-top: 6px solid gold;
    background-color: rgb(34, 114, 179);
    padding-bottom: 50px;
}

button {
    width: 150px;
    height: 50px;
    margin: 60px;
    border-radius: 15px;
    font-weight: bold;
    background-color: gold;
    cursor: pointer;
}

/* Detail.html */

main {
    background-image: url(./Assets/pikachu.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-form {
    width: 1200px;
    height: 1100px;
    border: 3px solid black;
    margin-top: 80px;
    padding: 50px;
    border: 6px solid gold;
    background-color: rgba(255, 255, 255, 0.822);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    'img . name name'
    'type type type type'
    'a a a a'
    's s s s'
    's s s s'
    's s s s'
    '. . . .'
    'h . . w';
}

.img-box {
    grid-area: img;
}

.name-box {
    grid-area: name;
}

.type-box {
    grid-area: type;
}

.abilities-box {
    grid-area: a;
}

.stats-box {
    grid-area: s;
}

.height-box {
    grid-area: h;
}

.weight-box {
    grid-area: w;
}

.pokemon-img {
    width: 300px;
}

.types-link {
    text-decoration: underline;
    color: black;
}

.types-link:hover {
    color:rgb(34, 114, 179);
}

.back-to-list{
    width: 220px;
    margin-top: 90px;
    background-color: rgb(34, 113, 179);
    color: white;
}

li {
    list-style: none;
}

h1 {
    color: rgb(34, 113, 179);
}

/* SCHERMO INIZIALE */

@media screen and (max-width: 780px){

    header {
        height: auto;
    }
    
    .pokémon-logo {
        width: 350px;
    }

    .pokémon-box {
        width: 100%;
    }

    .pokémon-name:hover {
        color: black;
    }
    
    .pokémon-name {
        text-decoration: none;
        font-size: 35px;
        color: black;
        cursor: pointer;
    }

}

@media screen and (max-width: 500px){

    header {
        height: auto;
    }
    
    .pokémon-logo {
        width: 250px;
    }
    
    .pokémon-name {
        font-size: 30px;
    }

    button {
        margin: 20px;
    }

}

@media screen and (max-width: 400px){

    .button-box {
        height: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 20px;
    }

}

@media screen and (max-width: 310px){

    .pokémon-logo {
        width: 200px;
    }
    
    .pokémon-name {
        font-size: 22px;
    }

}

/* SCHERMO DETTAGLI POKEMON */

@media screen and (max-width: 1240px){

    .pokemon-form {
        width: 100%;
    }

    .pokemon-form {
        width: 100%;
        height: 1400px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
        '. img img .'
        'name name name name'
        'type type type type'
        'a a a a'
        's s s s'
        '. . . .'
        'h . . w';
    }
    
}

@media screen and (max-width: 940px){

    h1 {
        font-size: 50px;
    }

    .pokemon-form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
        '. img img .'
        'name name name name'
        'type type type type'
        'a a a a'
        's s s s'
        '. . . .'
        'h h w w';
    }
    
}

@media screen and (max-width: 600px){

    main {
        height: auto;
        background-size: cover;
    }

    .pokemon-form {
        width: 100%;
        height: 1600px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        '. img . .'
        'name name name name'
        'type type type type'
        'a a a a'
        's s s s'
        's s s s'
        '. . . .'
        'h h h h'
        'w w w w';
    }

    .back-to-list{
        width: 220px;
        margin-top: 20px;
    }

}

@media screen and (max-width: 455px){

    .pokemon-form {
        width: 100%;
        height: 1600px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: 
        'img img . .'
        'name name name name'
        'type type type type'
        'a a a a'
        's s s s'
        's s s s'
        '. . . .'
        '. . . .'
        'h h h h'
        'w w w w';
    }

    h1 {
        font-size: 45px;
    }

    .back-to-list{
        width: 220px;
        margin-top: 20px;
    }

    .pokemon-img {
        width: 250px;
    }

}

@media screen and (max-width: 425px){

    .pokemon-form {
        width: 100%;
        height: 1200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        'img img . .'
        'name name name name'
        'type type type type'
        'a a a a'
        's s s s'
        's s s s'
        '. . . .'
        'h h h h'
        'w w w w';
        font-size: 25px;
        padding: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .back-to-list{
        width: 220px;
        margin-top: 20px;
    }

    .pokemon-img {
        width: 200px;
    }

}

@media screen and (max-width: 272px){

    .pokemon-form {
        width: 100%;
        height: 1300px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        'img img . .'
        'name name name name'
        'type type type type'
        'a a a a'
        's s s s'
        's s s s'
        '. . . .'
        'h h h h'
        'w w w w';
        font-size: 25px;
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    .pokemon-img {
        width: 150px;
    }

    .back-to-list{
        width: 170px;
        margin-top: 20px;
    }

}

@media screen and (max-width: 230px){

    .pokémon-logo {
        width: 90%;
    }

    .pokemon-form {
        width: 100%;
        height: 1600px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        'img img . .'
        'name name name name'
        'type type type type'
        'a a a a'
        's s s s'
        's s s s'
        '. . . .'
        'h h h h'
        'w w w w';
        font-size: 25px;
        padding: 20px;
    }

}